# Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

# Wait for lan-wasp interface to come up
ok=0
while true; do
  if ip link show lan-wasp | grep -q "state UP"; then
    ok=$(($ok+1))
  else
    ok=0
  fi

  if [ $ok -gt 10 ]; then
    break
  fi

  sleep 1
done

# Reload avm_wasp module
if lsmod | grep -q avm_wasp ; then
  rmmod avm_wasp
fi
sleep 1
modprobe avm_wasp

# Wait for WASP to be reachable
ok=0
while true; do
  if ping -c1 -W1 192.168.1.2 2>&1 >/dev/null; then
    ok=$(($ok+1))
    sleep 1
  else
    ok=0
  fi

  if [ $ok -ge 10 ]; then
    break
  fi
done

# Configure persistent WASP base settings
ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@192.168.1.2 '
  uci set system.@system[0].hostname="Fritz7490-WASP"
  uci set system.@system[0].description="Fritz7490-WASP"
  uci set network.@device[0].mtu="1424"
  uci set dhcp.lan.ignore="1"
  uci -q del dhcp.lan.ra
  uci -q del dhcp.lan.ra_slaac
  uci -q del dhcp.lan.ra_flags
  uci -q del dhcp.lan.dhcpv6
  uci -q del dhcp.lan.domain
  uci commit system
  uci commit network
  uci commit dhcp
  reload_config
'

# Restore saved wireless configuration, falling back to factory
/usr/sbin/wasp-wireless boot

exit 0
